Repository fuxingloh/multi-labeler, pull requests merged in 2022-07, with the labels that each got.

#152 feat: match base branch of a pull request
  README.md
  __tests__/config.test.ts
  __tests__/fixtures/invalid/matcher-basebranch-invalid.yml
  __tests__/matcher/baseBranch.test.ts
  dist/index.js
  dist/index.js.map
  src/config.ts
  src/labeler.ts
  src/matcher/baseBranch.ts
Labels: feat

#153 chore: add base branch labels for testing
  .github/labeler.yml
Labels: chore, test:labeler, test: s, Maintainer, Owner

#154 fix: baseBranch wrong field accessed
  __tests__/matcher/base-branch.test.ts
  __tests__/matcher/baseBranch.test.ts
  dist/index.js
  dist/index.js.map
  src/labeler.ts
  src/matcher/base-branch.ts
Labels: chore, test:dist, test:tests, test: m, fix, Maintainer, Owner, branch: main
