Repository fuxingloh/multi-labeler, pull requests merged in 2022-01, with the labels that each got.

#107 chore: update readme
  .github/dependabot.yml
  .github/workflows/ci-use.yml
  README.md
  dist/index.js
  dist/index.js.map
  package-lock.json
  package.json
Labels: chore, test:dist, test: m, Maintainer, Owner

#114 feat: add none pr check
  README.md
  __tests__/checks.test.ts
  dist/index.js
  dist/index.js.map
  src/checks.ts
  src/config.ts
Labels: feat

#115 chore: labeler.yml add Do Not Merge test
  .github/labeler.yml
Labels: chore, test:labeler, test: s, Maintainer, Owner
